setuptools==67.3.2
openrouteservice==2.3.3
ortools==9.12.4544
numpy==2.2.6
scipy==1.15.3
networkx==3.4.2
pandas==2.2.3
scikit-learn==1.6.1
matplotlib==3.10.3
torch==2.7.0
umap-learn==0.5.7
pyproj==3.7.1
shapely==2.1.1
seaborn==0.13.2
streamlit==1.45.1
